.navbar-container {
    height: 200px;
    color: orangered;
    background-color: floralwhite;
    
    p {
        margin: 0;
    }

    .cart-link:hover {
        cursor: pointer;
    }

    .cart-link {
        text-transform: none;
        color: cornflowerblue;
        margin-left: 450px;
    }
}