.navbar-container {
    height: 286px;
    color: white;
    position: fixed;
    background-color: rgb(158, 180, 148);
    // background-color: rgb(82, 109, 69);
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    

    .header {
        font-size: 80px;
        text-align: center;
        margin: 25px;
        height: 152px;
    }
    
    .header-home {
        font-family: 'Dancing Script', cursive;
        font-size: 102px;
    }

    #header {
        margin: 29px;
    }
    p {
        margin: 0;
    }

    .cart-link:hover {
        cursor: pointer;
    }

    .cart-link, .home-link, .search-link {
        text-transform: none;
        color: rgb(184, 192, 199);
        position: fixed;
        top: 196px;
        font-size: 60px;

    }

    .home-link {
        left: 2%; 
    }
    
    .search-link { 
        left: 44%;

        .search-icon {
            height: 74px;
        }
    }
    
    .cart-link {
        left: 90%;
    }

    .current-link {
        // color: #9eb494;
        color: #54835c;
    }

    .icon-clicked {
        transform: scale(0.95);
        opacity: 0.8;
    }

    .navbar-quantity {
        position: fixed;
        width: 36px;
        height: 39px;
        text-align: center;
        top: 183px;
        left: 89%;
        font-size: 29px;
        font-weight: bold;
        border-radius: 50%;
        background: red;
        padding: 4px;
    }

    .nav-links-container {
        height: 130px;
        width: 100%;
        // background: radial-gradient(rgb(112, 112, 105), beige);
        background: rgb(236, 236, 221);
    }
}