.navbar-container {
    height: 286px;
    color: white;
    position: fixed;
    background-color: rgb(158, 180, 148);
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;

    .header {
        font-size: 80px;
        text-align: center;
        margin: 25px;
        height: 152px;
    }
    
    .header-home {
        font-family: 'Dancing Script', cursive;
        font-size: 102px;
    }

    #header {
        margin: 39px;
    }
    p {
        margin: 0;
    }

    .cart-link:hover {
        cursor: pointer;
    }

    .cart-link, .home-link, .search-link {
        text-transform: none;
        color: white;
        position: fixed;
        top: 196px;
        font-size: 60px;

    }

    .home-link {
        left: 1%; 
    }
    
    .search-link { 
        left: 44%;
    }
    
    .cart-link {
        left: 92%;
    }

    .current-link {
        color: rgb(205, 212, 102);
    }

    .navbar-quantity {
        position: fixed;
        top: 69px;
        left: 89%;
        font-size: 40px;
    }
}