// Place all the styles related to the api/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-show-container {

    .order-header{
        margin-top: 206px;
        margin-bottom: 60px;
        color: #797b7e;
    }

    button{
        font-size: 39px;
        box-shadow: 1px 1px 1px 1px lightgrey;
        background: deepskyblue;
        color: white;
        margin-left: 20px;
    }

    .close-button {
        color: #b8c0c7;
        text-decoration: none;
        margin-top: 39px;
        position: fixed;
        font-size: 62px;
        font-weight: 600;
    }
    
    .order-info-wrapper {
        position: fixed;
        left: -100%;
        top: 0;
        transition: 0.4s linear;

        .continue-button {
            border: 1px solid red;
            background: red;
            color: white;
            height: 72px;
            width: 702px;
            margin: 48px 0px;
            padding: 10px;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .order-total {
                font-size: 37px;
                display: inline-block;
                // margin-left: 18%;
            }
        }
    }

    .show-wrapper { 
        left: 88px;
        opacity: 0.3;
    }

    .full-opacity {
        opacity: 1;
    }

    .quantity-input {
        font-size: 44px;
        width: 96px;
        margin-left: 100px;
        text-align: center;
        box-shadow: 1px 1px 1px 1px aliceblue;
        margin-top: 11px;
    }
    
    
    .hidden {
        display: none;
    }
    
    .order-line-show {
        display: flex;
        height: 260px;

        .product-image {
            width: 230px;
            height: 188px;
            margin-top: 6px;
        }

        .line-details {
            margin-left: 50px;
            width: 250px;

            .product-name {
                text-transform: capitalize;
                font-weight: 600;
                font-size: 35px;
                display: block;
                color: #8da084;
            }

            .product-price {
                font-size: 30px;
                display: block;
                font-style: italic;
            }

            .product-unit {
                font-size: 32px;
                margin-left: -5px;
                font-style: italic;
            }
        }
    }

}