// Place all the styles related to the api/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-show-container {

    .order-header{
        margin-top: 284px;
        margin-bottom: 60px;
    }

    button{
        font-size: 39px;
        box-shadow: 1px 1px 1px 1px lightgrey;
        background: deepskyblue;
        color: white;
        margin-left: 20px;
    }
    
    .quantity-input {
        font-size: 44px;
        width: 96px;
        margin-left: 100px;
        text-align: center;
        box-shadow: 1px 1px 1px 1px aliceblue;
        margin-top: 11px;
    }
    
    
    .hidden {
        display: none;
    }
    
    .order-line-show {
        display: flex;
        height: 260px;

        .product-image {
            width: 230px;
            height: 188px;
            margin-top: 6px;
        }

        .line-details {
            margin-left: 50px;
            width: 250px;

            .product-name {
                text-transform: capitalize;
                font-weight: 600;
                font-size: 35px;
                display: block;
            }

            .product-price {
                font-size: 35px;
                display: block;
                font-style: italic;
            }

            .product-unit {
                font-size: 32px;
                margin-left: -5px;
                font-style: italic;
            }
        }
    }

}