// Place all the styles related to the api/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-show-container {

    button{
        font-size: 50px;
    }
    
    .quantity-input{
        font-size: 50px;
        width: 95px;
    }
    
    .hidden {
        display: none;
    }
    
    .order-line-show {
        display: flex;

        .product-image {
            width: 230px;
            height: 188px;
        }

        .line-details {
            span {
                display: block;
            }
        }
    }

}