.order-confirmation-container {
    margin-top: 162px;
    display: flex;
    flex-direction: column;

    p {
        color: #92a88e;
        margin: 0;
        font-size: 31px;
        font-weight: 600;
        margin-bottom: 7px;
        margin-top: 25px;
    }

    .name-label, .name-input, .address-label, .address-textarea, 
    .phone-label, .phone-input, .email-label, .email-input {
        margin-left: 8%;
    }

    .name-input, .phone-input, .email-input {
        font-size: 30px;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 50px;
        color: #92a88e;
        border: transparent;
        border-bottom: 1px solid gray;
    }

    .order-line-show {
        display: flex;
        // height: 238px;
        margin-left: 106px;
        justify-content: center;

        .product-image {
            width: 192px;
            height: 156px;
            margin-top: 6px;
        }

        .line-details {
            margin-left: -277px;
            width: 400px;

            .product-name {
                text-transform: capitalize;
                font-weight: 600;
                font-size: 35px;
                display: inline-block;
                color: #8da084;
            }

            .product-price {
                font-size: 30px;
                display: inline-block;
                font-style: italic;
                margin-left: 34px;
            }

            .product-unit {
                font-size: 32px;
                margin-left: -5px;
                font-style: italic;
            }
        }
    }

    .address-textarea {
        // font-size: 30px;
        width: 80%;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: 7px;
        min-height: 172px;
        color: #92a88e;
        // font-size: 20px;
        border: transparent;
        border-bottom: 1px solid #92a88e;
    }

    .confirm-container {
        display: flex;
        justify-content: center;
        margin-right: 4%;

        .confirm-button {
            border: 1px solid rgb(62, 119, 226);;
            background: rgb(81, 135, 235);
            color: white;
            height: 72px;
            width: 80%;
            margin: 48px 0px;
            margin-bottom: 96px;
            // margin-left: 106px;
            padding: 10px;
            padding-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
        }

        .confirm-loader {
            border: 8px solid rgb(81, 135, 235);
            border-radius: 50%;
            border-top: 8px solid #f3f3f3;
            width: 38px;
            height: 38px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

                /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }
    }


    .charges-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 12%;
        margin-top: 102px;

        span {
            margin-top: 35px;
            color: rgb(71, 69, 69);
            // font-weight: 600;
            font-size: 25px;
            display: inline-block;
        }

        .charges-breakdown {
            width: 42%;

            div {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        #total-title, #total-amount {
            font-size: 28px;
        }

    }
    .back-button {
        color: #92a88e;
        text-decoration: none;
        margin-bottom: 90px;

        .back-arrow {
            height: 42px;
            margin-bottom: 12px;
            margin-left: 6%;
        }
    }

    .error-border {
        border: 2px solid red;
    }

    .confirmed-title {
        margin-top: 284px;
        margin-bottom: 30px;
        text-align: center;
        color: #9eb494;
    }
}