// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-wrapper {
    
    .home-page {

        .loader-main {
            width: 100vw;
            height: 100vh;
            background-color: floralwhite;
            z-index: 2;
            position: fixed;

            .loader-container {
                width: 700px;
                height: 700px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                .loader-div{
                    width: calc(100% - 16px);
                    height: calc(100% - 16px);
                    // border: 8px solid #162534;
                    border-radius: 50%;
                    animation: rotate 5s linear infinite;
                }

                .red-border {
                    border-top: 20px solid rgb(218, 44, 44);
                }

                .white-border {
                    border-top: 20px solid rgb(245, 239, 239);
                }

                .green-border {
                    border-top: 20px solid rgb(5, 156, 18);
                }

                @keyframes rotate {
                    100% { transform: rotate(360deg); }
                }
            }
        }

        .all-department-categories {
            margin-top: 284px;
            background: beige;
        }


    }
}