// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-wrapper {
    
    .home-page {

        .search-bar {

            height: 88px;
            line-height: 80px;
            
            input{
                font-size: 50px;
            }
        }

    }
}