// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html {
    background: beige;
}

.app-wrapper {
    // background-color: lightblue;
    width: 100vw;
    height: 100vh;
    overflow-wrap: break-word;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: Open Sans,Helvetica Neue,Helvetica,sans-serif;
    background: beige;

    h4 {
        font-size: 83px;
        text-align: center;
        margin: 25px;
    }


    .search-bar {

        height: 116px;
        line-height: 80px;
        display: flex;
        margin-top: 285px;
        width: 100%;
        position: fixed;
        box-shadow: 1px 0px 1px 1px white;
        
        input {
            font-size: 50px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 52px;
        }
    }
    
    .product-show {
        height: 100%;
    }

    .product-list-wrapper {
        box-sizing: border-box;
        // margin-top: 6%;
        height: 90%;
        margin-top: 286px;

        .product-item-wrapper {
            width: calc(50% - 12px);
            margin: 0 0px 10px 10px;
            float: left;
            position: relative;
            padding: 20px 0 17px 0;
            border: 1px solid beige;
            box-shadow: 5px 1px 7px 1px rgb(180, 178, 178);


            .product-image {
                top: -15px;
                left: 10px;
                width: 455px;
                height: 358px;
                //backgroundimageurl css
            }

            .product-details {
                margin-bottom: 32px;
                display: block;
                position: relative;
                width: 100%;
                border-top: 1px solid #eee;
                box-sizing: border-box;
                // text-align: center;
                font-size: 44px;
                height: 115px;

                .product-title {
                    margin-top: 20px;
                    box-sizing: border-box;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 35px;
                    display: block;
                    color: #8da084;
                }

                .product-price {
                    font-size: 30px;
                    display: block;
                    font-style: italic;
                }
            }

            .add-button {
                border-radius: 8px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0 10px;
                line-height: 3px;
                height: 88px;
                font-size: 45px;
                display: block;
                box-sizing: border-box;
                text-transform: uppercase;
                background-color: #8da084;
                color: white;
                width: calc(100% - 15px);
                position: relative;
            }

            // .product-title {
            //     display: block;
            //     margin-top: 20px;
            //     box-sizing: border-box;
            // }

            .decrease-quantity-button {
                position: absolute;
                color: white;
                height: 87px;
                border-right: 6px solid white;
                background: #8da084;
                z-index: 4;
                // line-height: 20px;
                width: 83px;
                font-size: 64px;
            }

            .plus-sign {
                display: inline-block;
                position: absolute;
                padding-left: 60px;
                font-size: 55px;
            }

            .quantity-display {
                display: inline-block;
                width: 200px;            
            }
        }
    }

    .department-wrapper {
        box-sizing: border-box;
        height: 90%;
        margin-bottom: 36px;
    
        .department-image {
            top: -15px;
            left: 10px;
            width: 100%;
            //backgroundimageurl css
        }

        .department-details {
            margin-bottom: 32px;
            display: block;
            position: relative;
            width: 100%;
            border-top: 1px solid #eee;
            box-sizing: border-box;
            text-align: center;
            font-size: 44px;
            height: 98px;
        }

        .department-title {
            display: block;
            margin-bottom: 20px;
            box-sizing: border-box;
            font-size: 65px;

            a {
                text-decoration: none;
                color: #9eb494;
                font-weight: 600;
            }
        }

    }
}   

#map-container{
    width: 100vw;
    height: 40vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



// Ipad Tablet
@media only screen and (min-width: 768px) {
    //..
}


// PC 
@media only screen and (min-width: 1000px) {
    //..
}